Flask==3.0.3
Werkzeug==3.0.3
Jinja2==3.1.4
itsdangerous==2.2.0
click==8.1.7
gunicorn

blinker==1.9.0
click==8.2.1
colorama==0.4.6
cowsay==6.1
dotenv==0.9.9
env==0.1.0
Flask==3.1.1
gunicorn==23.0.0
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.2
packaging==25.0
python-dotenv==1.1.1
Werkzeug==3.1.3
